body{
    background:#CDF5FD;
}

#titulo-principal {
    text-align: center;
    font-size: 50px;
    color:#CDF5FD;
    background-color: #00A9FF;
}

#subtitulo {
    font-size: 30px;
    color:#A0E9FF;
}

.texto {;
    font-size: 20px;
    color: #89CFF3;
}
 
em strong{
    color: #00A9FF;
}
