body{
    background:#FFFFFF;
}

#titulo-principal {
    text-align: center;
    font-size: 50px;
    color:#CDF5FD;
    background-color:#3876BF;
}

.teoria{
    padding: 20px;
}

#subtitulo {
    font-size: 30px;
    color:#3876BF;
}

.texto {
    font-size: 20px;
    color: #3876BF;
}
 
em strong{
    color:#132043;
}

#img.emp{
    height: 300px;
    width: 300px;
    margin: 10px;
}
